altgraph==0.17.4
keyboard==0.13.5
numpy==2.1.0
opencv-python==4.10.0.84
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
pyinstaller==6.10.0
pytesseract==0.3.13
pywin32==306
requests==2.32.3
setuptools~=70.2.0

