numpy~=2.0.0
opencv-python~=4.10.0.84
pytesseract~=0.3.10
pyautogui~=0.9.54
pygetwindow~=0.0.9
pyinstaller~=6.8.0
altgraph~=0.17.4
packaging~=24.1
pefile~=2023.2.7
pillow~=10.3.0
setuptools~=70.2.0
requests~=2.32.3
keyboard~=0.13.5
pywin32==306
